.analytics-main h1, p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
.analytics-main h1{
    display: block;
}

span.anaytics-url{
    border:2px solid black;
    display: inline-block;
}

.analytics-main{
    display: flex;
    align-items: center;
    margin-top: 10%;
    flex-direction: column;
    height: 100vh;
}