{% load static %}
{% load tz %}

<!DOCTYPE html>
<html>
<head>
    <title>Shorty - Click Analytics</title>
    <link rel="stylesheet" type="text/css" href="{% static 'analytics.css' %}">
</head>
<body>
    <div class="analytics-main">

        <h1>Click Analytics for Short URL: <span class="analytics-url">{{ short_url_full }}</span></h1>
        <p>Click Count: {{ click_count }}</p>
    <p>Shortened URL Expiration Date: {{ expiration_date }}</p>
    
    <ul>
        {% for entry in click_analytics_entries %}
        <li>
            Clicked at: {% timezone "Asia/Kolkata" %}
                            {{ entry.timestamp|localtime }}
                        {% endtimezone %}
            IP Address: {{ entry.ip_address }}
        </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
