{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Shorty - URL Shortener</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="index-main">

        <h1>Welcome to Shorty - URL Shortener</h1>
        <div class="index-form">

            {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
    {% endif %}
    
    <form method="post" action="{% url 'index' %}">
        {% csrf_token %}
        <div class="form-main">
            
            <input type="url" id="original_url" name="original_url" placeholder="Paste the URL to shorten" required>
            <input type="text" id="custom_code" name="custom_code" placeholder="Enter a custom text eg: mymeet">
            <input type="datetime-local" id="expiration_date" name="expiration_date" placeholder="Select a date for expiration">
            <button type="submit" id="shorten">Shorten</button>
        </div>
        </div>
    </form>
    <footer class="footer">
        <p>&copy 2023 All rights reserved.</p>
        <p>Developed by Anas</p>
    </footer>
</div>
</body>
</html>



