@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=PT+Sans+Caption&family=Poppins:wght@300;400&family=Source+Sans+3&display=swap');


body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(to bottom, #000000, #282727);
    background-repeat: no-repeat;
    font-family: Poppins;
    height: 100vh;
}


.analytics-main{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}



.analytics-main h1, p{
    text-align: center;
    color: white;    
}

.analytics-url{
    border:2px solid black;
    display: inline-block;
    color: rgb(22, 25, 95);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.521);

}

.centered-list {
  list-style-type: none; 
  padding: 0;
  text-align: center;
}

.centered-list li {
  color: white; 
  margin: 10px 0; 
}

.click-count{
    font-size: 30px;
    color: white;
}


.shorten-another{
    text-align:center;
}
.shorten-another a{
    font-size: 25px;
    color: rgb(13, 179, 224);
    
}
footer {
    background-color: #58585e;
    color: white;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
  }
  
  .footer p {
    margin: 5px 0;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }


  @media (max-width:768px){
    .analytics-main h1{
        font-size: 1.5em;
    }
    .analytics-url{
        display: block;
        font-size: 20px;
        color: rgb(0, 3, 77);
        margin: 2em 2em;
        text-align: center;
        background-color: rgba(251, 251, 251, 0.687);
    }
  }

